*{
    padding: 0;
    margin: 0;
}

.container{
    background-color: antiquewhite;
    border: 3px solid black;
    height: 1000px;
    width: inherit;

    /* In order to cretate a flex container we need to use this property */
    /* And by default flex is row based so all elements in our case have boxes will be arranged in horizontal manner */
    display: flex;

    /* In this way we can also change default flex direction */
    flex-direction: row;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */

    /* If the window size is decreased so the content will maintains it's size and if overflow it will be moved to next line */
    /* flex-wrap: wrap; */

    /* This property will reverse the wrapping direction */
    /* flex-wrap: wrap-reverse; */

    /* This is a shorthand notation for flex-direction and flex-wrap combined */
    flex-flow: row row-reverse;

    /* This is basically used to arrange the content based on the flex direction if the direction is given as row then elemets will be arranged horzontally and if it is given as column then it will be arranged vertically */
    justify-content: center;

    /* Other varations */
    /* justify-content: space-evenly; */

    /* This is basicallly same property to justtify-content but this takes refrence to corss axis and then arrange the items */
    align-items: center;

    /* Now at this moment if we dec the size of our window then we see wrapping but there is some spacing between the contents so inorder to fix that we use align-content property */
    align-content: center;


}

.box{
    height: 150px;
    width: 150px;
    border: 2px solid brown;
    margin: 10px;
}

#box1{
    background-color: blue;

    /* This property is for flex items and defines the order so if we increase the order then it moves more to the end */
    /* And as we dec the order it moves towards the starting */
    order: 4;    

    /* Defines the capacity of item to shrink like we inc the vale then item will shrink lately as comapred to normal element */
    flex-shrink: 5;

    /* This dines how on enlaring the element will look as compared to the other elements */
    /* flex-grow: 5; */

    /* This defines the initial dimensions of the element */
    /* flex-basis: 500px; */

    /* This property basically defines the adjustement of elements on the page  */
    align-self: flex-end;
}

#box2{
    background-color: red;
}

#box3{
    background-color: green;
}

#box4{
    background-color: yellow;
}

